.all-co2 {
  display: grid;
  grid-template-areas:
    " co2 co2 "
    " bikeSpeed bikeDistance";
}

.all-bike {
  display: grid;
  grid-template-areas:
    " bikeSpeed bikeDistance"
    " co2 co2 "
;
}

.main {
  height: 100vh;
  width: 100vw;
  border: 0;
  margin: 0;
  padding: 0;
}

.bike-distance {
  grid-area: bikeDistance;
}

.bike-speed {
  grid-area: bikeSpeed;
}

.is-active {
  font-size: 200px;
}

.is-not-active {
  font-size: 100px;
}

.co2 {
  grid-area: co2;
}

.co2-value {
  font-weight: normal;
}

.co2-header {
  font-weight: normal;
  font-size: x-large;
  color: black;
}

.start-button {
  display: block;
  font-size: xx-large;
}
